/* Make Web Panel Headers Bold */
.panel > header h1 {
	font-weight:bold !important;
}

/* Font size for tabs tittles */
.tab .title {
    font-size: 11.4px !important;
}


.bookmark-bar .observer {
    justify-content: center;
    font-size: 14px;
}

